/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: left;
}

body {
  background-color: #ecf6fb;
  font-family: "Inter", "Noto Sans", "Heebo", sans-serif;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.text--center {
  text-align: center;
}

.w--100 {
  width: 100%;
}

.mt--2 {
  margin-top: 2rem;
}

.mb--3 {
  margin-bottom: 3rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.board {
  border-collapse: collapse;
  color: #5C5C5C;
}
.board td {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
  border: 1px solid #D6D6D6;
}
.board tr:nth-child(1) td {
  border-top-color: #333333;
  border-top-width: 2px;
  border-right: none;
}
.board tr:nth-child(3n+1) td:last-child {
  border-right: 2px solid #333333;
}
.board tr:nth-child(3n) td {
  border-bottom: 2px solid #333333;
}
.board td:nth-child(3n+1) {
  border-left-color: #333333;
  border-left-width: 2px;
}
.board td:nth-child(3n) {
  border-right-color: #333333;
  border-right-width: 2px;
}
.board__cell--prefill {
  background-color: #EBEBEB;
}
.board__cell--guide {
  background-color: #cbcced;
  color: #333333;
}
.board__cell--filled {
  color: #4244bd;
}
.board__cell--guide.board__cell--filled {
  background-color: #8788d5;
  color: #121334;
}
.board__cell--working {
  background-color: #4244bd;
  color: #ffffff;
}

.btn {
  line-height: 2.5rem;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  height: 2.5rem;
  padding: 0 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: all 0.3s;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.14);
  cursor: pointer;
  letter-spacing: 0.02em;
}

.btn--primary {
  color: #ffffff;
  background: #4244bd;
  box-shadow: 0 0.25rem 0 #121334;
  transition: all 0.1s;
}

.btn--primary:hover {
  background-color: #2a2b78;
}

.btn--primary:active {
  transform: translateY(0.125rem);
  box-shadow: 0 0.125rem #121334;
}

.card {
  background: #ffffff;
  width: max-content;
  padding: 1rem;
  margin: 0 auto;
  display: block;
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 0 #f8a521;
}

.chip__container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.chip__item {
  background-color: #ffffff;
  color: #333333;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  line-height: 2.5rem;
  box-shadow: 0 0.25rem 0 #f8a521;
  margin: 0 0.125rem;
  border-radius: 0.125rem;
}
.chip__item--disabled {
  color: #5C5C5C;
  background-color: #D6D6D6;
  box-shadow: 0 0.25rem 0 #D6D6D6;
}

.selection-card {
  padding: 0.75rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0 #D6D6D6;
  text-align: center;
  margin-bottom: 1rem;
  position: relative;
}
.selection-card__container {
  width: 16rem;
  margin: auto auto;
  display: flex;
  flex-direction: column;
}
.selection-card__text {
  color: #333333;
  font-size: 1.25rem;
  line-height: 1.5rem;
}
.selection-card__icon:after {
  width: 2.5rem;
  height: 2.5rem;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' stroke='currentColor' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 13l4 4L19 7' stroke-linecap='round' stroke-linejoin='round' stroke-width='3'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: 1.125rem 0.5rem;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 1rem;
  top: 50%;
  opacity: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
.selection-card--active.selection-card {
  background-color: #cbcced;
  box-shadow: 0 0.25rem 0 #8788d5;
}
.selection-card--active .selection-card__text {
  color: #121334;
}
.selection-card--active .selection-card__icon:after {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
