.board{
    $component-root: &;

    border-collapse: collapse;

    color: $gray-8;

    td{
        font-size: $cell-font;

        width: $cell-unit;
        height: $cell-unit;

        cursor: pointer;
        transition: all linear .1s;
        text-align: center;
        
        border: 1px solid $gray-3;
    }

    tr:nth-child(1) td{
        border-top-width: 2px;
        border-top-color: $gray-9;
        border-right: none;
    }

    tr:nth-child(3n+1) td:last-child{
        border-right:  2px solid $gray-9;
    }

    tr:nth-child(3n) td{
        border-bottom: 2px solid $gray-9;
    }

    td:nth-child(3n+1){
        border-left-width: 2px;
        border-left-color: $gray-9;
    }

    td:nth-child(3n){
        border-right-width: 2px;
        border-right-color: $gray-9;
    }

    td:not(#{&}__cell--prefill):hover{
        background-color: $secondary-2;
    }

    // Filled by controller
    &__cell--prefill{
        background-color: $gray-0;
        &#{$component-root}{
            cursor: default;
        }
    }

    // UI guide
    &__cell--guide{
        color: $gray-9;
        background-color: $secondary-1;
    }

    // Filled by user
    &__cell--filled{
        color: $secondary-4;
    }

    // UI guide + filled by user
    &__cell--guide#{&}__cell--filled{
        color: $secondary-5;
        background-color: $secondary-2;
        
    }

    // Selected cell to modify
    &__cell--working, &__cell--working#{&}__cell--filled{
        color: $secondary-5;
        background-color: $secondary-3;
    }

}



