.btn{
    line-height: 2.5rem;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    height: 2.5rem;
    padding: 0 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: all 0.3s;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .14);
    cursor: pointer;
    letter-spacing: .02em;

    &--primary{
        color: $white;
        background: #4244bd;
        box-shadow: 0 .25rem 0 #121334;
        transition: all 0.1s;

        &:hover, &:focus{
            background-color: #2a2b78;
        }

        &:active{
            transform: translateY(.125rem);
            box-shadow: 0 .125rem #121334;
        }
    }
}