.btn{

    $component-root: &;

    line-height: 2.5rem;
    position: relative;
    display: inline-block;
    font-weight: 500;
    white-space: nowrap;
    text-align: center;
    height: 2.5rem;
    padding: 0 1rem;
    font-size: 1.125rem;
    background-color: $white;
    border-radius: .25rem;
    transition: all 0.15s $standard-easing;
    color: $black;
    min-width: 7.5rem;
    box-shadow: 0 .25rem 0 $gray-7;
    cursor: pointer;
    letter-spacing: .02em;

    &:hover, &:focus{
        background-color: $primary-3;
        color: $white;
        box-shadow: 0 .25rem $primary-5;
    }

    &:active{
        transform: translateY(.125rem);
        box-shadow: 0 .125rem $primary-5;
    }

    &__icon-container{
        display: inline-block;
        width: 1.5rem;
    }

    &__icon{
        width: 2.5rem;
        height: 2.5rem;
        left: 1rem;
        top: .5rem;
        z-index: 2;
        position: absolute;
        opacity: 1;
    }

    &--active{
        #{$component-root}__icon{
            &--hint{
                fill: $secondary-3;
            }
        }
    }

    &--primary{
        color: $white;
        background: $primary-3;
        box-shadow: 0 .25rem 0 $primary-5;
        transition: all 0.1s;

        &:hover, &:focus{
            background-color: $primary-4;
        }

        &:active{
            transform: translateY(.125rem);
            box-shadow: 0 .125rem $primary-5;
        }
    }

    &--secondary{
        color: $white;
        background: $secondary-3;
        box-shadow: 0 .25rem 0 $secondary-5;
        transition: all 0.1s;

        &:hover, &:focus{
            background-color: $secondary-4;
        }

        &:active{
            transform: translateY(.125rem);
            box-shadow: 0 .125rem $secondary-5;
        }
    }

    &--green{
        color: $black;
        background: $green-3;
        box-shadow: 0 .25rem 0 $green-5;
        transition: all 0.1s;

        &:hover, &:focus{
            color: $white;
            background-color: $green-4;
        }

        &:active{
            transform: translateY(.125rem);
            box-shadow: 0 .125rem $green-5;
        }
    }

    &--red{
        color: $black;
        background: $red-3;
        box-shadow: 0 .25rem 0 $red-5;
        transition: all 0.1s;

        &:hover, &:focus{
            color: $white;
            background-color: $red-4;
        }

        &:active{
            transform: translateY(.125rem);
            box-shadow: 0 .125rem $red-5;
        }
    }

    &--disabled{
        &#{$component-root} {
            cursor: not-allowed;
            color: $gray-7;
            background-color: $color-down;
            box-shadow: 0 .25rem 0 $shadow-down; 
        }
    }

    &__container{
        width: 25rem;
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.625rem;

        #{$component-root}{
            margin-bottom: 0.625rem;
        }
    }


} 