.card{
    display: block;

    width: max-content;
    margin: 0 auto;
    padding: calc(1.25rem - 1px);
        
    border-radius: .25rem;
    background: $white;
    box-shadow: 0 .25rem 0 $secondary-3;
}