.chip{
    &__container{
        display: flex;
        width: 25rem;
        // justify-content: center;
        justify-content: space-between;
        margin: 1.25rem auto 2.5rem auto;
    }
    
    &__item{
        background-color: $white;
        color: $gray-9;
        width: $cell-unit;
        height: $cell-unit;
        font-size: $cell-font;
        line-height: $cell-unit;
        box-shadow: 0 .25rem 0 $shadow-normal; 
        margin: 0 .125rem;
        border-radius: .125rem;
        cursor: pointer;
        transition: all linear .15s;

        &:hover, &:focus{
            box-shadow: 0 .25rem $shadow-hover;
        }

        &:active{
            transform: translateY(.125rem);
            box-shadow: 0 .125rem $shadow-hover;
        }

        &--done{
            color: $gray-7;
            box-shadow: 0 .25rem 0 $shadow-done; 
            &:active{
                transform: translateY(.125rem);
                box-shadow: 0 .125rem $shadow-done;
            }
        }
    }
}


