.selection-card{

    $component-root: &;

    position: relative;

    margin-bottom: 0.625rem;
    padding: .5rem;

    cursor: pointer;
    transition: all .15s linear;
    text-align: center;

    border-radius: 0.25rem;
    background-color: $white;
    
    box-shadow: 0 0.25rem 0 $gray-1;
    
    &:last-child{
        margin-bottom: 0;
    }

    &:hover{
        background-color: $primary-1;
        box-shadow: 0 0.25rem 0 $primary-2;
    }

    &__container{
        display: flex;
        flex-direction: column;

        margin: auto auto;

        input {
            position: absolute;

            width: 0;
            height: 0;

            opacity: 0;
        }
    }

    &__text{
        font-size: 1.125rem;
        line-height: 1.5rem;

        color: $gray-9;
    }

    &__icon:after{
        position: absolute;
        z-index: 2;
        top: 50%;
        right: .625rem;

        width: 2.5rem;
        height: 2.5rem;

        content: '';
        transition: all .15s linear;
        transform: translateY(-50%);

        opacity: 0;
        border-radius: 50%;
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' stroke='currentColor' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 13l4 4L19 7' stroke-linecap='round' stroke-linejoin='round' stroke-width='3'/%3E%3C/svg%3E ");
        background-repeat: no-repeat;
        background-position: 1.125rem .5rem;
    }

    input:focus + & {
        box-shadow: 0 0.25rem 0 $primary-5;
    }

    // active state
    &--active, input:checked + & {
        &#{$component-root}{
            background-color: $primary-1;
            box-shadow: 0 0.25rem 0 $primary-5;
        }
        #{$component-root}__text{
            color: $primary-5;
        }
        #{$component-root}__icon:after{
            opacity: 1;
        }
    }
}






