.animation{
    $component-root: &;

    // For action cards and buttons
    &--hide-y#{$component-root}{
        transition: transform 0.15s cubic-bezier(0.42, 0, 1, 1), opacity .15s linear, max-height 0s .15s;
        transform: translateY(1.25rem);
        opacity: 0;
        max-height: 0;
        overflow: hidden;
    }
    &--show-y#{$component-root}{
        transition: transform 0.2s cubic-bezier(0.42, 0, 1, 1) 0.3s, opacity .2s linear 0.3s, max-height 0s 0.2s;
        transform: translateY(0);
        opacity: 1;
        max-height: 20rem;
    }
}