.animation{
    $component-root: &;

    &--hide-y#{$component-root}{
        overflow: hidden;

        max-height: 0;

        transition: transform 0.15s $accelerated-easing, opacity .15s $accelerated-easing, max-height 0s .15s;
        transform: translateY(1.25rem);

        opacity: 0;
    }
    &--show-y#{$component-root}{
        max-height: 88rem;

        transition: transform 0.2s $decelerated-easing 0.3s, opacity .2s $decelerated-easing 0.3s, max-height 0s 0.2s;
        transform: translateY(0);

        opacity: 1;
    }
}