html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body{
    background-color: $body-background;
    font-family: 'Inter','Noto Sans','Heebo', sans-serif;
}

a {
    text-decoration: none;
}
