$primary-1: #cbcced;
$primary-2: #8788d5;
$primary-3: #4244bd;
$primary-4: #2a2b78;
$primary-5: #121334;

$white: #ffffff;
$black: #000000;

$gray-1: #333333;
$gray-2: #474747;
$gray-3: #5C5C5C;
$gray-4: #707070;
$gray-5: #858585;
$gray-6: #999999;
$gray-7: #ADADAD;
$gray-8: #C2C2C2;
$gray-9: #D6D6D6;

$body-background: #f8a521;