// Sizes
$cell-unit: 2.25rem;
$cell-font: 1.5rem;

// Colors
$primary-1: #cbcced;
$primary-2: #8788d5;
$primary-3: #4244bd;
$primary-4: #2a2b78;
$primary-5: #121334;

$white: #ffffff;
$black: #000000;

$gray-0: #EBEBEB;
$gray-1: #D6D6D6;
$gray-2: #C2C2C2;
$gray-3: #ADADAD;
$gray-4: #999999;
$gray-5: #858585;
$gray-6: #707070;
$gray-7: #5C5C5C;
$gray-8: #474747;
$gray-9: #333333;

$body-background: #f8a521;